@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}


* {
  box-sizing: border-box;
  color: var(--color-light-transparent);
}

:root { 
  --color-bg: #141314;
  --color-bg-light: #312a33;
  --color-bg-variant: #1a0b1e;
  --color-primary: #f2fa00;
  --color-primary-variant: #00c164;
  --color-white: #8d7f51;
  --color-light: #d19225da;
  --color-light-transparent: #d1922596;

  --transition: all 400ms ease;
  --transition1: all 200ms ease-out;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: var(--color-bg); /* Color of the track */
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--color-bg-light); /* Color of the handle */
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle when hovered */
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}